/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_tree .
 *= require_self
 */
html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif; 

}

.navbar {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100px;
  width: 50%;

  .userNav {
    position: absolute;
    right: 15px;
    top: 40px;
    font-size: 17px;
    .navLink {
      display: inline;
    }
  }
}

.sidebar {
  margin-left: 15px;
  .logo{
    font-size: 50px;
  }
  a{
    width: 100%;
    text-decoration: none;
  }
  a:hover{
    color: inherit;
    background-color: white;
  }

}

.footer {
  clear: both;
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
  height: 65px;
  font-size: 18px; 
  color: gray;
  background-color: white;

  div{
    padding: 20px;
  }

}

.show{
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 350px;
  font-size: 20px;
  p{
    font-size: inherit;
  }
}




