// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.datasetsKey {
  position: absolute;
  top: 100px;
  width: 99%;
  color: gray;
  margin: 15px;
  font-family: 'Open Sans';
  a{
    text-decoration: none;
  }
  .dataset, .help{
    width: 110px;
    height: 21px;
    text-align: center;
  }
  .dataset:hover, .help:hover{
    text-decoration: underline;
    background-color: #4798CD;
    color: white;
  }
  .datasetItem {
    width: 100%;
    font-size: 15px;
    margin: 45px;
    cursor: pointer;
    cursor: hand;
  }
  .datasetItem:hover{
    text-decoration: underline;
    background-color: #4798CD;
    color: white;
  }
  .createDataButton {
    color: white;
    bottom: 0px;
    width: 100px;
    height: 35px;
    margin: 10px;
    outline: none;
    font-size: 15px;
    border: none;
    background-color: #4798CD;
    a{
      color: white;
    }
    a:hover{
      background-color: rgba(0,0,0,0);
    }
  }
  .createDataButton:active {
    background-color: #005C99;
  }



  .help {
    position: absolute;
    right: 10px;
    top: 0px;
  }



}

.helpOverlay{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.74);
  z-index: 9001;
  img {
    position: relative;
    top: 28%;
    max-width: 1000px;
    width: 67%;
    display: block;
    margin: 0 auto;
    background-color: white;
    border-radius: 25px;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.9);
  }
  button.closeOverlay {
    position: absolute;
    background-color: lightgray;
    border: none;
    border-radius: 30px;
    font-size: 22px;
    right: 10px;
    width: 50px;
    height: 50px;
    top: 10px;
    margin: 2px;
    outline: none;
    cursor: pointer;
    cursor: hand;
  }
  button.closeOverlay:hover{
    transform: scale(1.1)
  }
  button.closeOverlay:active{
    background-color: gray;
  }
}



.matrixContainer {
  max-width: 728px;
  margin: 0px auto;
  margin-top: 125px;
  .matrixTitle{
    margin-bottom: 0px;
  }
  .percent {
    margin-top: 7px;
    color: gray;
  }
  .week {
    position: relative;
    float: left;
    background-color: lightgray;
    width: 6px;
    height: 6px;
    margin: 4px;
    vertical-align: top;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    cursor: hand;
  }
  .lived {
    background-color: limegreen;
  }
  .personal {
    background-color: red;
  }

  .dataItem {
    background-color: black;
  }

  .week:hover {
    box-shadow: 0 0 6pt 4pt limegreen;
  }

  .tooltip {
      position: absolute;
      background: white;
      border: 2px solid gray;
      border-radius: 10px;
      box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.55);
      width: 250px;
      min-height: 160px;
      bottom: 27px;
      right: -124px;
      z-index: 10;
      background-color: slategrey;
      color: white;
      padding-left: 10px;
      padding-bottom: 10px;

      .dotInfo{
        position: relative;
        text-align: center;
        width: 80%;
        margin: 10px;
        left: 10px;
        font-size: 17px;
      }

      .yourMile{
        color: coral;
      }

      .lineItem{
        a{
          color: white;
        }
        a:hover{
          background-color: coral;
          opacity: 0.4;
        }
      }

      .dataMile{
        color: bisque;
      }

      button.close {
        position: absolute;
        background-color: lightgray;
        border: none;
        border-radius: 10px;
        right: 3px;
        top: 3px;
        margin: 2px;
        outline: none;
        cursor: pointer;
        cursor: hand;
      }
      button.close:hover{
        transform: scale(1.1)
      }
      button.close:active{
        background-color: gray;
      }
      .newMilestone{
        position: absolute;
        right: 3px;
        bottom: 3px;
        color: lightcoral;
      }

      .toolNote{
        display: none;
        padding-top: 3px;
      }

    }

    .tooltip::after {
      content: ' ';
      position: absolute;
      background-color: inherit;
      border: 2px solid gray;
      border-top: none;
      border-left: none;
      width: 25px;
      height: 25px;
      bottom: -15px;
      right: 111px;
      -moz-transform: rotate(45deg); 
      -o-transform: rotate(45deg); 
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      z-index: -1;
    }

}





.guestForm {
  position: relative;
  width: 390px;
  height: 200px;
  padding-top: 100px;
  padding-bottom: 100px;  
  margin: 0 auto;
  text-align: center;

  .field {
    label{
      font-size: 45px;
    }
    #user_age {
      margin: 25px;
      font-size: 40px;
      border-radius: 10px;
      outline: none;
    }
  }
  input[type="submit"] {
    color: white;
    bottom: 0px;
    height: 35px;
    outline: none;
    font-size: 15px;
    border: none;
    background-color: #4798CD;
    cursor: pointer;
    cursor: hand;
  }
  input[type="submit"]:hover{
    background-color: #A3CCE6;
  }
  input[type="submit"]:active {
    background-color: #005C99;
  }

}













// .landing {
//   position: relative;
//   display: block;
//   margin: 100px auto;
//   width: 70%;
//   max-width: 1000px;
//   img{
//     width: 100%;
//   }



//   .create{
//     text-align: center;
//     padding-top: 25px;
//     font-size: 20px;
//     input {
//       color: white;
//       bottom: 0px;
//       height: 50px;
//       margin: 10px;
//       outline: none;
//       font-size: inherit;
//       border: none;
//       background-color: #4798CD;
//     }
//     input:active {
//       background-color: #005C99;
//     }
    
//   }

// }

@media (max-width: 1042px){
  img{
    width: 95% !important;
  }
  .datasetsKey {
    position: inherit;
    .datasetItem {
      text-align: center;
      width: 200px;
      font-size: 15px;
      margin: 0px;
      position: inherit;
      display: table-cell;
    }
    .help {
      top: 83px;
    }
  }
  .matrixContainer{
    margin-top: 0px;
    max-width: 631px;
    .week{
      width: 6px;
      height: 6px;
      margin: 3px;
    }
    .week:hover {
      box-shadow: 0 0 6pt 4pt limegreen;
    }
  }
}

@media (max-width: 400px){
  .datasetItem {
    display: inline;
  }
  .help{
    display: none;
  }
  .matrixContainer {
    max-width: 390px;
    .year {
      padding-bottom: 150px;
      .week {
        width: 11px;
        height: 11px;
        margin: 9px;
      }
      .week:hover {
        box-shadow: 0 0 15pt 9pt limegreen;
      }
    }
  }
}

